* {
    margin: 0;
    padding: 0;
    color: rgb(243 202 202);
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    line-height: 1.3;
    transition: all 0.3s;
}